
.imagen-principal {
  position: relative;
  background-image: url('../img/img-ciber.jpg');
  background-size: cover;
  background-position: center;
  height: 70vh;
  z-index: 1;
}
.contenido-titulo {
  display: none;
}

.bg-secondary {
background-color: gainsboro !important; 
color: black !important; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* Fondo negro */
    background-size: 100% 100%;
   
}


