
.imagen-principal {
  position: relative;
  background-image: url('../img/img-ciber.jpg');
  background-size: cover;
  background-position: center;
  height: 70vh;
  z-index: 1;
}
.contenido-titulo {
  display: none;
}
